{% extends "base.html"%}
{% block content %}

<p><a href="/sign_up">Sign up</a> if you don't have an account</p>
<form action="/login" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input name="username" type="text" value="{{username}}"/></td>
            <span class='error'>{{username_error}}</span>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input name="password" type="password"/></td>
            <span class='error'>{{password_error}}</span>
        </tr>
    
    </table>
    <input type="submit" value="Login"/>
</form>

{% endblock %}